html {
    height:100%;
    margin:0px;
}
body {
    min-height:100%;
    background-color:cadetblue;
    margin:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header {
    position:sticky;
    top:0;
    background-color: cadetblue;
    min-height:50px;
    display:flex;
    justify-content: space-between;
}

img {
    display:inline;
    float:left;
    height:30px;
    margin:10px 5px;
}

.pageTitle{
    display:inline;
}
h1{
    display:inline;
}


.main {
    display:flex;
    flex-direction:column;
    background-color:linen;
    width:100%;
    align-items:center;
    text-align:center;
    min-height:calc(100vh - 100px - 5px);
    justify-content:center
}
button{
    width:fit-content;
    align-self:center;
    margin:auto;
    font-size:18px;
    display: block;
}
#clicklbl {
    color:transparent;
}


footer {
    position:sticky;
    bottom:0;
    background-color: cadetblue;
    min-height:50px;
}