<!Doctype html>
<html>

<head>
    <title>Broadleaf Warehouse</title>
    <link rel="stylesheet" href="../../../styles/styles.css" type="text/css" />
    <link rel="stylesheet" href="../../../styles/admin.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://openclipart.org/image/300px/svg_to_png/28727/purzen-Leaf.png" />
    <script src="../../../scripts/admin-nav.js" defer></script>
