<header>
    <div class="row">
        <abbr title="Home"><img id="logo" alt="BroadLeaf logo"
                    src="https://openclipart.org/image/300px/svg_to_png/28727/purzen-Leaf.png" /></abbr>
        <h6>ADMIN</h6>
        <abbr title="Sign in/out"><a name="" class="nav"><img id="pfp" alt="profile picture"
            src="https://cdn.pixabay.com/photo/2013/07/13/10/44/man-157699_640.png" /></a></abbr>
    </div>
    <div class="row">
        <nav>
            <a id="uploadPage" name="upload" class="nav">Upload</a>
            <a id="productsPage" name="products" class="nav">Products</a>
        </nav>
    </div>
</header>