<%- include('./partials/head') %>
<link rel="stylesheet" href="../../styles/index.css" type="text/css"/>
</head>

<body>
    <%- include('./partials/nav') %>
    <main>
        <div ID="title">BROADLEAF</div>
        <h3 id="slogan">The broadest selection of trees on the internet. You'll go nuts!</h3>
        <h2>THIS MONTH'S HIGHLIGHT:</h2>
        <div class="row center">
            <img id="showcase" alt="Magnolia"
                src="https://crazyforgardening.com/wp-content/uploads/2015/04/Magnolia-Tree-1.jpg" />
        </div>
    </main>
    <footer>
        Copyright &#169 2024 BROADLEAF Co.
    </footer>
</body>

</html>