/* theme & vars */
:root {
    --header: #91C7B1;
    --header-border: #4b9578;
    --background:#F1F7ED;
    --text: rgb(84, 73, 75);
    --shadow: rgba(84, 73, 75, 0.5);

    --img-size:125px;
}

/* general */
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    background-color: var(--background);
    color: var(--text);
    margin-top: 100px;
}

header {
    display:flex;
    flex-direction: column;
    min-height:50px;
    background-color:var(--header);
    border-bottom: 1px solid var(--header-border);
    width: 100%;
    position: absolute;
    top:0;
    text-align: center;
    margin-bottom:20px;
    padding-inline:1%;
}
.row {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
}
header .row img, header .row a img {
    width:100px;
}

nav {
    justify-self: baseline;
    margin-left: 2vw;
    margin-top: 5px;
}
nav>* {
    height: 15px;
    padding-inline: 10px;
    text-decoration: none;
    color: var(--text);
}
nav .active {
    background-color: var(--background);
    border: 1px solid var(--header-border);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid var(--background);
    font-weight:bolder;
}

main{
    text-align: center;
    padding-inline:3%;
}
aside {
    margin-top:10px;
    margin-inline: 10%;
}

h1, h2, h3 {
    margin-bottom: 0;
    margin-top: 0;
}
h1 {
    margin:0;
}
p {
    margin-top: 0;
    margin-bottom:5px;
}


/* index.html */
#introduction {
    height: 300px;
    margin-block: 20px;
    padding-inline:15%;
}
#introduction img {
    height:80%;
}

#establishments, #articles {
    float:left;
    display:flex;
    flex-direction: column;
    height: auto;
}
#establishments {
    width:69%;
    margin-left:1%;
}
#articles {
    width: 25%;
    margin-right:1%;
}

#articles article {
    border:1px solid var(--text);
    margin:10px 2%;
    padding: 10px;
    box-shadow: 1px 2px 3px var(--shadow);
    border-radius: 10px;
}
#articles article>*, #articles article>*>* {
    margin-block:0;
}
#articles article a {
    text-decoration: none;
}
#articles article h4 {
    text-align: left;
    margin-top:10px;
    margin-bottom: 5px;
    padding-block:0;
}
#articles article h6 {
    text-align: right;
}

.establishment{
    text-align: center;
    border: 1px solid var(--text);
    border-radius: 30px;
    margin:10px 2%;
    padding: 10px;
    box-shadow: 1px 2px 3px (--shadow);

}
.establishment a{
    text-decoration: none;
}
.establishment h2 {
    margin-bottom: 10px;
}
.dishes {
    display: flex;
    justify-content: space-around !important;
    margin: 5px;
}
.dish {
    height:var(--img-size);
    width: var(--img-size);
    object-fit:cover;
    border:1px solid var(--text);
}
.item-desc {
    width: 100%;
    border: 1px solid var(--text);
    padding:5px;
    display:none;
}
#dish-select, #dish-selection {
    float:left;
    border:1px solid var(--text);
}


/* meal-plan.html */
#dish-select .dishes img{
    margin:10px;
    width:100px;
    height:100px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px var(--shadow);
}
#dish-select .dishes img:active {
    transform:scale(0.95);
}
#dish-select {
    width: 40%;
    margin-right: 1%;
}

#dish-selection {
    width:50%;
    margin-left:1%;
}
#dish-selection span {
    padding-inline: 3%;
    height: 20px;
    padding-block:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dishes-selected div{
    padding-inline: 3%;
    height: 20px;
    padding-block:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total-cost {
    float:right;
}
.quantity {
    height:20px;
    width: 20px;
    margin-inline: 2px;
    border: 1px solid var(--shadow);
    border-radius: 5px;
}
.more-less-rem {
    height:20px;
    margin-inline: 2px;
    padding-inline:auto;
    padding-block:0px;
    font-size: small;
}

.dish-name {
    width:50%;
    text-align: left;
}
.dish-cost {
    width:10%;
    text-align: right;
}