/* product info */
#product-images, #product-details {
    float: left;
    margin-block: 2%;
}
#product-images {
    max-width:40%;
    margin-right: 1%;
}
#product-details {
    max-width:50%;
    text-align: left;
    margin-left: 1%;
}
#product-img {
    min-width: 200px;
    min-height: 200px;
    max-width:500px;
    max-height: 400px;
    border:3px solid var(--border);
    margin-bottom: 5px;
}
#product-details p {
    height: 200px;
}


/* add to cart */
#cart-quantity {
    width:100%;
    display: flex;
    justify-content: center;
}
#cart-quantity aside {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
#cart-quantity div{
    margin-bottom:10px;
}
.quantity-grp {
    align-self: flex-end !important;
}
#addToCart {
    padding:5px;
    margin-left:20px;
}#addToCart[text] {
    outline:1px solid
}





/* related products */
#product-related, #product-upsell {
    margin-inline:auto;
    margin-block:30px;
    text-align: left;
    width:90%;
    display:flex;
    padding:10px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow:inset 0px 0px 4px var(--shadow);
    background-color: var(--body-dark);
}
#product-related p, #product-upsell p {
    margin: 0;
}
#product-upsell .row, #product-related .row {
    overflow-x: scroll;
    scrollbar-width: none; 
}#product-upsell .row::-webkit-scrollbar, #product-related .row::-webkit-scrollbar {
    display:none;
}
