/*
Color scheme created using this image:
https://pixnio.com/free-images/2017/09/14/2017-09-14-06-10-06-1100x733.jpg

*/
:root {
    --body: #c7d192;
    --text: #222815;
    --header: #445723;
    --accent1: #6E8B3A;
    --accent2: #473823;
    --lightest: #f7f8ef;
}
body
{
    background-color: var(--header);
    color: var(--text);
    margin: 0px;
    padding: 0px;
    display: flexbox;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header {
    background-color: var(--header);
    color: var(--body);
    text-align: center;
    min-height: 50px;
    margin-bottom: 0px;
}
#main {
    width:100%;
    min-height:calc(100vh - 110px);
    background-color: var(--body);
    padding-top: 10px;
}
footer {
    position:sticky;
    bottom:0;
    display:flex;
    background-color: var(--header);
    min-height:50px;
    align-items: flex-end;
}
nav {
    margin-left:2vw;
}
nav>* {
    background-color: var(--body);
    border: 2px solid var(--accent2);
    height:15px;
    border-radius: 5px 5px 0px 0px;
    padding-inline: 10px;
    border-bottom: none;
    text-decoration: none;
    color:var(--header);
}

div {
    width:fit-content;
}
#product-container{
    display:flex;
    flex-direction: column;
    width:90% !important;
    margin-inline:auto;
    padding-inline:auto;
    justify-content: space-between;
}
.row{ 
    display: flex;
    justify-content:space-evenly;
    width:100%;
}
header .row {
    justify-content: space-between;
}
.header-item {
    display:flex;
}
#title{
    margin-inline:auto;
    background-image: url("https://pixnio.com/free-images/2017/09/14/2017-09-14-06-10-06-1100x733.jpg");
    background-size: cover;
    background-position:center;
    background-color: var(--text);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    filter: saturate(1.2);
    font-size:110pt;
    font-weight: 800;
    -webkit-text-stroke: 4px var(--text);
    margin-top: 0px;
    margin-bottom: -20px;
    user-select:none;
}
#slogan {
    user-select: none;
}
h1, h2, h3, h4, h5, h6 {
    margin:0px;
    padding:0px;
}
h1{
    font-size: 50px;
}
#logo{
    height: 40px;
    margin-left: 10px;
}
#pfp {
    margin-left:5px;
    margin-right:10px;
    height: 30px;
    width:30px;
    border-radius: 100%;
}
input {
    background-color: var(--lightest);
    border: 2px solid var(--accent1);
    border-radius: 5px;
    margin-block:40px;
    width: 350px;
    height: 20px;
    font-size: 14px;
    vertical-align: middle;
} input:focus{
    outline: 1.5px solid var(--header);
}

button {
    background-color: var(--lightest);
    border: 2px solid var(--accent1);
    height: 25px;
    width:25px;
    padding:0px;
    border-radius: 5px;
} button:active {
    transform: scale(0.98);
}

abbr {
    text-decoration: none;
    margin-block:auto;
}

.product {
    display:flex;
    flex-direction: column;
    margin-block:20px;
    height: 250px;
    width:200px;
    border-radius: 10px;
    padding:10px;
    background-color: beige;
}
.product img {
    height:200px;
    width:200px;
    object-fit: cover;
    outline: 2px solid var(--accent2);
}
a {
    text-decoration: none;
}
.product a {
    padding-block:5px;
    color: var(--header);
}
#filters{
    justify-content: center;
    margin-top: 10px;
}
#filters select {
    margin-inline: 5px;
}